{
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": ["@babel/env", "@babel/preset-react", "@babel/preset-flow"],
  "ignore": ["node_modules"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
