body {
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a {
  color: #7ed321;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .66em;
  margin-top: 0;
}
h1,
.h1 {
  font-size: 2em;
}
h2,
.h2 {
  font-size: 2em;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: .85em;
}
h6,
.h6 {
  font-size: .75em;
}
.page-wrapper {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-body {
  flex-grow: 1;
}
.page-body,
.page-footer,
.page-header {
  padding: 20px 0;
}
.page-header {
  background-color: #7ed321;
  color: #dff4c8;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  color: white;
}
.page-header p {
  margin: 0;
}
.page-header a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
}
.page-header a:hover,
.page-header a:focus {
  border-bottom-color: white;
  outline: none;
  text-decoration: none;
}
.page-subheader {
  background-color: #f2fbe9;
  line-height: 20px;
  padding: 20px 0;
}
.page-subheader__button {
  float: right;
}
.page-subheader__link {
  border-bottom: 1px solid rgba(126, 211, 33, 0.3);
  outline: none;
  text-decoration: none;
}
.page-subheader__link:hover,
.page-subheader__link:focus {
  border-bottom-color: #7ed321;
  outline: none;
  text-decoration: none;
}
.page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #999;
  padding: 20px 0;
  text-align: center;
}
@media (min-width: 480px) {
  .page-body,
  .page-header {
    padding: 40px 0;
  }
  .page-header {
    font-size: 1.4em;
  }
  .page-subheader {
    font-size: 1.125em;
    line-height: 28px;
  }
}
.section {
  margin-bottom: 40px;
}
.hint {
  font-size: .85em;
  margin: 15px 0;
  color: #666;
}
